.auth-icon.weibo {
    background-position: 0 -34px;
}
.auth-icon.qq {
    background-position: 0 -68px;
}
.auth-icon.weixin {
    background-position: 0 -102px;
}
.auth-icon.baidu {
    background-position: 0 -136px;
}